@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
html{
    
}
body{
    background-color: #2d2d2d;
    font-family: 'Jost';
}
*{
    box-sizing: border-box;
}
.wrapper{
    width: 80vw;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
}
.menu{
    margin: 26px;
}
.menu a{
    color: #c9c9c9;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    margin: 0 21px 0 21px;
}
@media(max-width: 506px){
    .menu{
        display: none;
    }
}
.menu a:hover, .menu a.active{
    color:#fff
}
main{
    /* background-color:aqua; */
    height: 43vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.avatar{
    /* background-color: #fff; */
    width: 50vw;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle{
    
    width: 29vw;
    height: 29vw;


    background: #FFFFFF;
    border-radius: 20%;
    transform: rotate(-45deg)
}
.acquaintance{
    /* background-color: red; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: #fff;
    margin-left: 5vw;
    
}
.acquaintance h1{
    font-weight:700;
    font-size: 56px;
    line-height: 81px;
}
.acquaintance .normal_font{
    font-weight: 500;
    font-size: 56px;
    line-height: 81px;
}
.acquaintance .my_name{
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
}
.button_panel{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}
.button_panel a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
}
#arrow{
    margin-left: 40px;
}
#tlgrm{
    margin-right: 20px;
    width: 29px;
    height: 29px;
}
#hire_me{
    width: 46%;
    background: #7996FC;
    box-shadow: 0px 0px 15px rgba(121, 150, 252, 0.15);
}
#portfolio{
    width: 46%;
    background: #414141;
}
#portfolio:hover{
    background: #7996FC;
}
#telegram{
    width: 100%;
    background: #414141;
}
#telegram:hover{
    background: #7996FC;
}
.button{
    padding: 13px 0 12px 0;
    margin: 10px;
    border-radius: 10px;
}
