@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: #2d2d2d;
    font-family: 'Jost';
}
*{
    box-sizing: border-box;
}
.wrapper{
    width: 80vw;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
}
.menu{
    margin: 26px;
}
.menu a{
    color: #c9c9c9;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    margin: 0 21px 0 21px;
}

.menu a:hover, .menu a.active{
    color:#fff
}
main{
    /* background-color:aqua; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.avatar{
    /* background-color: #fff; */
    width: 649px;
    height: 724px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radial_gradient{
    position: absolute;
    width: 649px;
    height: 665px;
    background: radial-gradient(40% 40% at 50% 45%, #7996FC 0%, rgba(121, 150, 252, 0) 100%);
    filter: drop-shadow(0px 0px 15px rgba(121, 150, 252, 0.15));
}
.rectangle{
    display: flex;
    width: 439.87px;
    height: 439.87px;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border-radius: 20%;
    transform: rotate(-45deg)
}
.avatar_in_rectangle{
    width: 70%;
    transform: rotate(45deg);
}
.acquaintance{
    /* background-color: red; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: #fff;
    margin-left: 5vw;
    
}
.acquaintance h1{
    font-weight:700;
    font-size: 56px;
    line-height: 81px;
}
.acquaintance .normal_font{
    font-weight: 500;
    font-size: 56px;
    line-height: 81px;
}
.acquaintance .my_name{
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
}
.button_panel{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.button_panel a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
}
#arrow{
    margin-left: 40px;
}
#tlgrm{
    margin-right: 20px;
    width: 29px;
    height: 29px;
}
#hire_me{
    width: 251px;
    height: 60px;
    background: #7996FC;
    box-shadow: 0px 0px 15px rgba(121, 150, 252, 0.15);
}
#hire_me:hover{
    background: #94aaf9;
}
#portfolio{
    width: 251px;
    height: 60px;
    background: #414141;
}
#portfolio:hover{
    background: #7996FC;
}
#telegram{
    width: 522px;
    height: 60px;
    background: #414141;
}
#telegram:hover{
    background: #7996FC;
}
.button{
    padding: 13px 0 12px 0;
    margin: 10px;
    border-radius: 10px;
}
.cit p{
    color: #C9C9C9;
    font-size: 36px;
    font-weight: 300;
    line-height: 52px;
    margin-bottom: 20px;
}
.cit q{
    color: #FFF;
    font-size: 42px;
    line-height: 60px;
    font-weight: 500;
    font-style: italic;
}
.portfolio{
    margin-top: 120px;
    display: block;
    justify-content: space-between;
}
.portfolio h2{
    margin: 0 0 60px 0;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
}
.album-cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 354px;
    height: 253px;
    background-color: #7996FC;
    border-radius: 15px;
}
.rectangle-card{
    width: 354px;
    height: 253px;
    background-image:url(../source/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.container-card{
    margin-top: 24px;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;

    text-align: center;

    color: #FFFFFF;
}
.container-card p{
    margin: 0;
}
.see-more{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0 0 0;
}
.see-more a{
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;


    color: #C9C9C9;
}
.see-more a:hover{
    color: #FFF;
}
#github{
    width: 251px;
    height: 60px;

    background: #414141;
    border-radius: 10px;
}
.button a{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    justify-content: center;
    align-items: center;
}
#github:hover{
    background: #7996FC;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 200px;
    background: #414141;
    border-radius: 50px 50px 0 0;
    bottom: 0;
}
.contacts,.portfolio-href,.social-media{
    width: 208px;
    height: 100px;
}
.contacts p,.portfolio-href p,.social-media p{
    flex-grow: 3;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.portfolio-href a,.social-media a{
    margin-top: 50px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #C9C9C9;
}
.portfolio-href a:hover,.social-media a:hover{
    
    color: #FFF;
}
.contacts{
    margin-left: 10%;
    flex-grow: 2;
}
.social-media{
    margin-right: 10%;
}
